<html>
    <head>
    <!--Import Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Special+Elite|Montserrat|Pacifico&display=swap" rel="stylesheet">
    <!--Import CSS Files-->
      <link type="text/css" rel="stylesheet" href="/css/bulma.min.css" />
      <link type="text/css" rel="stylesheet" href="/css/home.css"/>
    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Pocket Gazette</title>
    </head>
    <body>
      <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <!-- navbar items -->
                <div class="navbar-item" id="navtext"></div>
            </div>
            <div class="navbar-end">
                <!--Navigation Items-->
                <% if (!currentUser) {%>
                <a class="navbar-item" href="/login">
                    Login
                </a>
                <a class="navbar-item" href="/register">
                    Register
                </a>
                <%} else {%>
                <a class="navbar-item" href="/bookmarks/<%= currentUser['username'] %>">
                    Bookmarks
                </a>
                <a class="navbar-item" href="/logout">
                    Logout
                </a>
                <%}%>
            </div>
        </div>
    </nav>
      <section id="heroid" class="hero is-fullheight is-hcentered">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="pageheading">
                    <span>Pocket Gazette <span class="tag is-success">Top 5</span></span></h1>
              
              <% for(var i=0;i<5;i++) {%>
              <!--NEWS CARD STARTS-->      
                <div class="columns is-vcentered">
                    <div class="column is-one-quarter">
                        <img src= <%= imgurls[i] %> height="200" width="200">
                    </div>
                    <div class="column" id="formbg">
                      <div class="card" id="newscard">
                        <span class="tag is-rounded is-link" id="sourcechip"><%= sources[i] %></span>
                        <div class="card-content" id="newstitle">
                        <%=  titles[i] %>
                          <div class="content" id="newsdesc">
                            <%=  descriptions[i] %>
                          </div>
                        </div>
                        <footer class="card-footer">
                          <span class="tag is-rounded is-warning" id="footerchip"><a target="_blank" href= <%= urls[i] %> class="card-footer-item">Read full article</a></span>
                          <p></p>
                          <%if(currentUser){%>
                          <form action="/bookmarks/<%= currentUser['username'] %>" method="POST">
                            <input class="input" id="hiddeninput" type="text" name="imgurl" value=<%= imgurls[i] %>>
                            <input class="input" id="hiddeninput" type="text" name="source" value=<%= sources[i] %>>
                            <input class="input" id="hiddeninput" type="text" name="title" value='<%= titles[i] %>'>
                            <input class="input" id="hiddeninput" type="text" name="description" value='<%= descriptions[i] %>'>
                            <input class="input" id="hiddeninput" type="text" name="url" value=<%= urls[i] %>>
                            <input type="submit" id="bookmarkbutton" class="tag is-rounded is-danger" value="Bookmark this article">
                          </form>
                          <%}%>
                        </footer>
                      </div>
                    </div>
                </div>
                <!--NEWS CARD ENDS-->
                <%}%> 
            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
          <p>
              &lt;/&gt; with ❤️ by <a href="https://github.com/capturemathan">Mathan</a>
          </p>
          <p>
            Powered by <span class="tag is-success">NewsAPI</span>
          </p>
      </div>
    </footer>
    
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script>
        var app = document.getElementById('navtext');
        var typewriter = new Typewriter(app, {
            loop: true
        });
        typewriter.typeString('Trending now')
            .start();
    </script>

    </body>
</html>